# vim: filetype=sh

system 'echo TEST 1';
(system 'echo TEST 1 PASSED');

print 'TEST 2';
(
  !(system 'false && true')
  &&
  !(system 'false' && system 'true')
) {
  print 'TEST 2 PASSED';
}

print 'TEST 3';
(
  !(system '(false || true && false)')
  &&
  !(system 'false' || system 'true' && system 'false')
) {
  print 'TEST 3 PASSED';
}

return;

# =============================================================================

(stackposition > 2) {
  (classname == 'foo') {
    (title == 'bar' || title == 'bar' && title == 'muh' && title == 'muh') {
      suspend;
      return;
    }
  }
}

(!title == 'bar' && !title == 'baz') {
  return;
}

